@import 'mixin';
@import 'media-queries';


$primary-color: #000;
$secondary-color: #dd0735;

// Base Font
$main-font-family: "Mulish", serif;

$base-font-weight: '';
$base-font-size: 18px;
$base-line-height: 2.5em;


//Awsome Font
// $awsome-font-family: 'FontAwesome';
// $awsome-font-path: 'fonts/fontawesome/';
